@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Noto+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    width: auto;
    height: auto;
    text-align: center;
    font-family: 'Noto sans Korean', sans-serif;
}

.main-login{
    width: 75%;
    height: 150%;
    background: #ffffff;
    margin: 85px;
    margin-top: 30px;
    display:block;
    /* o flex faz com que as coisas fiquem lado a lado*/
    justify-content: space-between;
    /* justify-content organiza as coisas no eixo x*/
    align-items: center;
    /*align-items organiza os elementos no eixo y*/
}

h1{
    display: block;
    margin-bottom: 0;
    margin: 20px;
    margin-left: 75px;
    margin-right: 70px;
    color: #ffffff;
    /*box-shadow: 0px 10px 40px #01333056;*/
    opacity: 75%;
    padding: 10px;
    border-radius: 25px 0 25px 0;
    background: #7ed87ade;
    box-shadow: 0px 5px 10px #346631de;
}

.card{
    height:80%;
    width: 100%;
    margin-left: 80px;
    display:center;
    justify-content: center;
    align-items: center;
    /* justify-content organiza as coisas no eixo x*/
    box-sizing: border-box;
    /*background:#90CAF9;*/
    background:#7ed87ade;
    border-radius: 20px;
    /*sombra do card*/
    opacity: 85%;
    box-shadow: 0px 10px 40px #346631de;
}

.form{
    width: 100%;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*quando utilizamos o flex-direction as definições do align items
    e do justify-content se invertem.
    align-> eixo x
    justify -> eixo y*/
    margin: 10px 0px;
    /*primeiro valor é eixo y e o segundo é eixo x*/
}
.form > input{
    width: 10px;
    border:none;
    border-radius: 6px;
    width: 50%;
    padding-top: 5px;
    padding-left: 4px;
    padding-bottom: 4px;
}

.form-description{
    width: 50vh;
    margin-bottom: 40px;
    height: 20vh;
}

/*.form > label{
    color: #ffffffc5;
    display: inline-block;
    margin-bottom:8px;
    padding-bottom: 5px;
    font-size:12pt;
    font-weight:600;

}*/

.form > input::placeholder{
    color: #7ed87ade;
    opacity: 95%;
    display: flex;
    text-align: center;
}

.img-login{
    width: 250px;
    height: 250px;
    display: inline;
    background: #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    box-shadow:0px 10px 30px -12px #346631de ;
}


.botao-login{
    width: 50%;
    padding: 16px 0px;
    /*16 px no eixo y e 0 px no eixo x*/
    margin: 15px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 25px;
    border:none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #7ed87ade;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #346631de;
    /*esse -12 é o spread (pesquisar)*/
}

fieldset{
    width: 100%;
    height: 20%;
    display: table-column;
    border: none;
    margin: 0;
}

label{
    display: block;
    text-align: justify;
    color: #ffffff;
    margin-bottom:8px;
    padding-bottom: 5px;
    font-size:12pt;
    font-weight:600;
}